@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:opsz,wght@14..32,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@400;500;600;700&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./css-reset.css);

.btn {
    font-family: "Poppins", sans-serif;
    font-size: 16.27px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 12.4px;
    transition: background-color 0.1s ease-in;
}

.btn:hover {
    background-color: rgb(52, 52, 52);
}

.btn:active {
    background-color: #141416;
}

/* HEADER */

.page-header, 
.header-left-col-grp,
.header-right-col-grp,
.header-nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header {
    margin: 42px auto 0 auto;
    width: 86.87%;
    height: 58px;
}

.header-left-col-grp {
    width: 44.40%;
}
.header-right-col-grp {
    width: 46.20%;
}

.header-nav {
    width: 81%;
}

.header-nav a {
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    line-height: 26.7px;
    color: #606060;
    transition: color 0.2s ease-in;
}

.header-nav a:hover {
    color: #141416;
    transition: color 0.2s ease-in;
}

.search-form {
    display: flex;
    width: 60.29%;
    height: 57px;
    background-color: #EDEDED;
    border-radius: 15px;
}

.search-form > button {
    display: block; 
    box-sizing: border-box;
    width: 20%;
    height: 57px;
    background: url(../assets/icons/search.svg) center no-repeat;
}

.search-form > input {
    font-family: "Poppins", sans-serif;
    width: 80%;
    padding: 19.5px 0;
    font-size: 16px;
    font-weight: 500;
}

.crypto-wallet-btn {
    font-family: "Inter", sans-serif;
    font-size: 16.17px;
    font-weight: 600;
    line-height: 24.3px;
    text-transform: uppercase;
    padding: 16.17px 24.26px;
    color: #FFFFFF;
    background-color: #141416;
    border-radius: 16px;
    transition: background-color 0.1s ease-in;
}

.crypto-wallet-btn:hover {
    background-color: rgb(52, 52, 52);
}

.crypto-wallet-btn:active {
    background-color: #141416;
}

/* MAIN */

main {
    margin-top: 111px;
}

/* PROMO SECTION */

.promo-section {
    display: flex;
    justify-content: space-between;
    width: 93.26%;
    float: right;
}

.pr-sect-l-col-grp {
    width: 42.21%;
    margin-top: 12px;
}

.pr-sect-l-col-grp > h1 {
    font-family: "Poppins", sans-serif;
    font-size: 75px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -3px;
    color: #141416;
}

.pr-sect-l-col-grp > p {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #606060;
    margin-top: 16px;
}

.pr-sect-btns-grp {
    margin-top: 45px;
    display: flex;
    gap: 23px;
}

.pr-sect-prime-btn {
    padding: 18px 30px;
}

.pr-sect-second-btn {
    padding: 18px 21px;
    color: #000000;
    background-color: #fff;
    border: #000000 solid 1.5px;
}

.pr-sect-second-btn:hover {
    background-color: #e4e3e3;
}

.pr-sect-second-btn:active {
    background-color: #d1cece;
}

.pr-sect-stats {
    display: flex;
    justify-content: space-between;
    width: 79.89%;
    margin-top: 82px;
}

.pr-sect-stats > li{
    font-family: "Piblic Sans", sans-serif;
    font-size: 36.77px;
    font-weight: 600;
    line-height: 46px;
    text-transform: uppercase;
    color: #141416;
}   

.pr-sect-stats span {
    font-family: "Inter", sans-serif;
    font-size: 12.2px;
    line-height: 18.4px;
    font-weight: 500;
    text-transform: capitalize;
    color: #848586;
    display: block;
    margin-top: 6px;
}   

.pr-sect-imgs-grp {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 54.17%;
}

.pr-sect-l-img-wrapper, 
.pr-sect-r-img-wrapper {
    display: flex;
    position: relative;
    height: auto;
}

.pr-sect-l-img-wrapper {
    margin-top: 19px;
    width: 53.78%;
}

.pr-sect-l-img-wrapper::after,
.pr-sect-r-img-wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; 
    filter: blur(40px);
}

.pr-sect-l-img-wrapper::after {
    bottom: -24px;
    background: url(../assets/images/Rectangle_3.png) center / contain no-repeat;
    border-radius: 25px;
}

.pr-sect-l-img {
    width: 100%;
    border-radius: 25px;
    z-index: 1;
}

.pr-sect-r-img-grp {
    width: 43.19%;
}

.pr-sect-svg-grp {
    display: flex;
    justify-content: space-between;
}

.pr-sect-arr-svg {
    display: block;
    background: url(../assets/images/arrow.svg) bottom / contain no-repeat;
    transform: rotateZ(-3deg);
    width: 41%;
    height: auto;
}

.pr-sect-dot-collection {
    background: url(../assets/images/dot-collection.png) left no-repeat;
    width: 116.28px;
    height: 192.22px;
}

.pr-sect-r-img-wrapper {
    margin-top: 7.7px;   
    width: calc(100% - 18px);
    float: right;
}

.pr-sect-r-img-wrapper::after {
    bottom: -21px;
    background: url(../assets/images/Rectangle.png) center / contain no-repeat;
    border-radius: 22.35px 0 0 22.35px;
}

.pr-sect-r-img {
    width: 100%;
    border-radius: 22.35px 0 0 22.35px;
    z-index: 1;
}